body{
  min-width: 100% !important;
  justify-content: center;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.top, .search__container{
  width: 100%;
}

span{
  font-family: 'Pokemon solid';
  color: #ffcb05;
  text-shadow: #3c5aa6 3px 3px 3px, #3c5aa6 3px 3px 3px;
  -webkit-text-stroke: #2a75bb 3px;
  letter-spacing: 3px;
}

.search__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

select{
  height: 50px;
  padding: 5px;
  font-size: 20px;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  border: 2px #ffcb05 solid;
  border-right: none;
  outline: none;
}
input{
  min-width: 250px;
  width: 25%;
  padding-left: 15px;
  height: 44px;
  font-size: 20px;
  border: 2px #ffcb05 solid;
  border-left: none;
  border-right: none;
  outline: none;
}
.search{
  height: 50px;
  padding: 2px 24px;
  font-size: 20px;
  border-radius: 20%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 3px #3c5aa6 solid;
  background-color: #3c5aa6;
  background-image: url(./assets/search.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
  outline: none !important;
  transition: .3s ease;
}

.search:hover{
  background-color: #2a75bb;
  border-left: 3px #2a75bb solid;
}

.list{
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(5, 0.35fr);
  gap: 20px 50px;
}

.card__container{
  width: 200px;
  height: 330px;
  background-color: #ffcb0550;
  border: 2px #3c5aa6 solid;
  border-radius: 2%;
}

.image{
  padding: 5px;
  width: 90%;
}